{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "mocha",
    "prettier"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:mocha/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".ts", ".js"],
        "map": [
          ["@", "./src"]
        ]
      }
    }
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": 0,
    "mocha/no-mocha-arrows": 0,
    "mocha/max-top-level-suites": 0,
    "mocha/no-hooks-for-single-case": 0
  }
}
